---
import featuredImageDesktop from "../assets/images/image-web-3-desktop.webp"
---
<div>
    <article class="grid">
        <h1 class="visually-hidden">The W.</h1>
            <img src={featuredImageDesktop.src} alt="" />
        <h2 class="text-dark fs-700 fw-bolder">The Bright Future of Web 3.0?</h2>
        <div class="flow">
            <p>  We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people.
                But is it really fulfilling its promise?</p>
                <a href="#" class="bg-accent text-dark">Read more <span class="visually-hidden">about The Bright Future of Web 3.0?</span></a>
        </div>
    </article>
</div>
<style>
    div:has(article) {
        container-type: inline-size;
        grid-column: span 2;
    }

    
    @container (width > calc(2 * 15rem)) {
        article {
            grid-template-columns: 1fr 1fr;
        }

        img {
            grid-column: 1 / -1;
        }
    }

    a{
        display: inline-block;
        padding: .5em 1.5em;
        transition: color 350ms ease, background-color 350ms;
    }
    
    a:where(:hover, :focus-visible) {
        color: hsl(var(--clr-primary));
        background-color: hsl(var(--clr-dark));
    }
</style>
