---
import PopularImage1 from "../assets/images/image-retro-pcs.webp"
import PopularImage2 from "../assets/images/image-top-laptops.webp"
import PopularImage3 from "../assets/images/image-gaming-growth.webp"
---
<article class="popular-articles | wrapper">
    <h4 class="visually-hidden">Popular Article</h4>
    <ul class="grid" role="list">
        <li class="grid">
            <article class="grid">
                <img src={PopularImage1.src} alt="">
                <div class="grid">
                    <a href="#">
                        <h5 class="text-dark fs-400">Reviving Retro PCs
                        </h5>
                    </a>
                    <p>What happens when old PCs are given modern upgrades?
                    </p>
                </div>
            </article>
        </li>
        <li class="grid">
            <article class="grid">
                <img src={PopularImage2.src} alt="">
                <div class="grid">
                    <a href="#">
                        <h5 class="text-dark fs-400">Top 10 Laptops of 2022
                        </h5>
                    </a>
                    <p>Our best picks for various needs and budgets.
                    </p>
                </div>
            </article>
        </li>
        <li class="grid">
            <article class="grid">
                <img src={PopularImage3.src} alt="">
                <div class="grid">
                    <a href="#">
                        <h5 class="text-dark fs-400">The Growth of Gaming
                        </h5>
                    </a>
                    <p>How the pandemic has sparked fresh opportunities.</p>
                </div>
            </article>
        </li>
    </ul>
</article>
<style>    
    ul {
        counter-reset: article-counter;
    }
    
    @media (width > 35em) {
        ul{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto 1fr;
        }
        
        li {
            grid-template-rows: subgrid;
            grid-row: span 3;
        }
        
        article:has(> img) {
            grid-template-rows: subgrid;
            grid-row: span 3;
        }
        
        img {
            grid-row: 1 / span 3;
        }
        
        article:has(> img) > div {
            grid-template-rows: subgrid;
            grid-row: span 3;
        }
    }

    li{
        counter-increment: article-counter;
    }

    .popular-articles article {
        grid-template-columns: 5rem 1fr;
    }
    
    .popular-articles article div::before {
        content: counter(article-counter, decimal-leading-zero);
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h5:where(:hover, :focus-visible) {
        color: hsl(var(--clr-accent));
    }
</style>