---
import Header from "../components/Header.astro"
import "../css/styles.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FEM Blog Website</title>
	</head>
	<body class="bg-primary text-secondary fs-400 ff-body fw-normal">
		<Header />
		<main class="flow">
			<slot />
		</main>
	</body>
</html>
<style>
	body {
		padding-bottom: calc(var(--space-2xl-3xl) * 2);
	}
</style>